body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  box-shadow: 1px 1px 4px grey;
}

.main, .link {
  max-width: 660px;
  min-width: 300px;
  margin: 20px auto;
}

.main textarea {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 16px;
  resize: none;
}

.main canvas {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.link label {
  font-size: 12px;
  color: grey;
  margin-bottom: 8px;
}

.link textarea{
  width: 100%;
  font-size: 12px;
  padding: 4px;
  color: grey;
  border: none;
  text-decoration: underline;
  resize: none;
}